# Environment
.env
.venv
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Distribution
dist/
build/
*.egg-info/

